In [10]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter('ignore')

In [11]:
num = pd.read_csv('Scalling data/num_data_new.csv')
num.head()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903

In [12]:
cat = pd.read_csv('encoded/data_enc_oh.csv')
cat.head()

,Unnamed: 0,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,Occupation_Free Lancer,Occupation_Small Business,Occupation_Large Business,Gender_Female,Gender_Male,Gender_Fe Male,...,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP,CustomerID
0,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,200000
1,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,200001
2,2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,200002
3,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,200003
4,4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,200004

In [14]:
data = pd.merge(num,cat,on="CustomerID",how="inner")

In [16]:
data.head()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,Unnamed: 0,TypeofContact_Self Enquiry,TypeofContact_Company Invited,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907,0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379,1,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315,2,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382,3,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903,4,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
data.duplicated().sum()

0

In [21]:
data.isnull().sum()

CustomerID                       0
Age                              0
DurationOfPitch                  0
NumberOfFollowups                0
NumberOfTrips                    0
NumberOfChildrenVisiting         0
MonthlyIncome                    0
Unnamed: 0                       0
TypeofContact_Self Enquiry       0
TypeofContact_Company Invited    0
Occupation_Salaried              0
Occupation_Free Lancer           0
Occupation_Small Business        0
Occupation_Large Business        0
Gender_Female                    0
Gender_Male                      0
Gender_Fe Male                   0
ProductPitched_Deluxe            0
ProductPitched_Basic             0
ProductPitched_Standard          0
ProductPitched_Super Deluxe      0
ProductPitched_King              0
MaritalStatus_Single             0
MaritalStatus_Divorced           0
MaritalStatus_Married            0
MaritalStatus_Unmarried          0
Designation_Manager              0
Designation_Executive            0
Designation_Senior Manager       0
Designation_AVP                  0
Designation_VP                   0
dtype: int64

In [22]:
data.isna().sum()

CustomerID                       0
Age                              0
DurationOfPitch                  0
NumberOfFollowups                0
NumberOfTrips                    0
NumberOfChildrenVisiting         0
MonthlyIncome                    0
Unnamed: 0                       0
TypeofContact_Self Enquiry       0
TypeofContact_Company Invited    0
Occupation_Salaried              0
Occupation_Free Lancer           0
Occupation_Small Business        0
Occupation_Large Business        0
Gender_Female                    0
Gender_Male                      0
Gender_Fe Male                   0
ProductPitched_Deluxe            0
ProductPitched_Basic             0
ProductPitched_Standard          0
ProductPitched_Super Deluxe      0
ProductPitched_King              0
MaritalStatus_Single             0
MaritalStatus_Divorced           0
MaritalStatus_Married            0
MaritalStatus_Unmarried          0
Designation_Manager              0
Designation_Executive            0
Designation_Senior Manager       0
Designation_AVP                  0
Designation_VP                   0
dtype: int64

In [23]:
data.describe()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,Unnamed: 0,TypeofContact_Self Enquiry,TypeofContact_Company Invited,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
count,4879.000000,4.879000e+03,4.879000e+03,4.879000e+03,4.879000e+03,4.879000e+03,4.879000e+03,4879.000000,4879.000000,4879.000000,...,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000,4879.000000
mean,202444.878869,-2.190125e-16,-2.927676e-16,-1.235558e-15,6.582389e-15,-6.819213e-15,5.483561e-16,2439.000000,0.709572,0.290428,...,0.047141,0.187129,0.194302,0.479197,0.139373,0.354376,0.376307,0.152080,0.070096,0.047141
std,1410.901499,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1408.590312,0.454007,0.454007,...,0.211962,0.390055,0.395703,0.499618,0.346371,0.478373,0.484508,0.359136,0.255335,0.211962
min,200000.000000,-2.111837e+00,-1.271518e+00,-2.704472e+00,-1.256315e+00,-1.386915e+00,-3.657962e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,201223.500000,-7.156779e-01,-7.833230e-01,-7.073297e-01,-6.931433e-01,-2.226414e-01,-6.381298e-01,1219.500000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,202444.000000,-1.786939e-01,-2.951282e-01,2.912414e-01,-1.299716e-01,-2.226414e-01,-2.464239e-01,2439.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,203666.500000,6.804807e-01,5.592126e-01,2.912414e-01,4.332001e-01,9.416322e-01,3.955198e-01,3658.500000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,204887.000000,2.506227e+00,2.511992e+00,2.288384e+00,2.685887e+00,2.105906e+00,2.939813e+00,4878.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4879 entries, 0 to 4878
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CustomerID                     4879 non-null   int64
 1   Age                            4879 non-null   float64
 2   DurationOfPitch                4879 non-null   float64
 3   NumberOfFollowups              4879 non-null   float64
 4   NumberOfTrips                  4879 non-null   float64
 5   NumberOfChildrenVisiting       4879 non-null   float64
 6   MonthlyIncome                  4879 non-null   float64
 7   Unnamed: 0                     4879 non-null   int64
 8   TypeofContact_Self Enquiry     4879 non-null   float64
 9   TypeofContact_Company Invited  4879 non-null   float64
 10  Occupation_Salaried            4879 non-null   float64
 11  Occupation_Free Lancer         4879 non-null   float64
 12  Occupation_Small Business      4879 non-null   float64
 13  Occupation_Large Business      4879 non-null   float64
 14  Gender_Female                  4879 non-null   float64
 15  Gender_Male                    4879 non-null   float64
 16  Gender_Fe Male                 4879 non-null   float64
 17  ProductPitched_Deluxe          4879 non-null   float64
 18  ProductPitched_Basic           4879 non-null   float64
 19  ProductPitched_Standard        4879 non-null   float64
 20  ProductPitched_Super Deluxe    4879 non-null   float64
 21  ProductPitched_King            4879 non-null   float64
 22  MaritalStatus_Single           4879 non-null   float64
 23  MaritalStatus_Divorced         4879 non-null   float64
 24  MaritalStatus_Married          4879 non-null   float64
 25  MaritalStatus_Unmarried        4879 non-null   float64
 26  Designation_Manager            4879 non-null   float64
 27  Designation_Executive          4879 non-null   float64
 28  Designation_Senior Manager     4879 non-null   float64
 29  Designation_AVP                4879 non-null   float64
 30  Designation_VP                 4879 non-null   float64
dtypes: float64(29), int64(2)
memory usage: 1.2 MB

In [26]:
data.columns

Index(['CustomerID', 'Age', 'DurationOfPitch', 'NumberOfFollowups',
       'NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome',
       'Unnamed: 0', 'TypeofContact_Self Enquiry',
       'TypeofContact_Company Invited', 'Occupation_Salaried',
       'Occupation_Free Lancer', 'Occupation_Small Business',
       'Occupation_Large Business', 'Gender_Female', 'Gender_Male',
       'Gender_Fe Male', 'ProductPitched_Deluxe', 'ProductPitched_Basic',
       'ProductPitched_Standard', 'ProductPitched_Super Deluxe',
       'ProductPitched_King', 'MaritalStatus_Single', 'MaritalStatus_Divorced',
       'MaritalStatus_Married', 'MaritalStatus_Unmarried',
       'Designation_Manager', 'Designation_Executive',
       'Designation_Senior Manager', 'Designation_AVP', 'Designation_VP'],
      dtype='object')

In [27]:
data.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [42]:
data.head()

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [44]:
data

,CustomerID,Age,DurationOfPitch,NumberOfFollowups,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome,TypeofContact_Self Enquiry,TypeofContact_Company Invited,Occupation_Salaried,...,ProductPitched_King,MaritalStatus_Single,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Unmarried,Designation_Manager,Designation_Executive,Designation_Senior Manager,Designation_AVP,Designation_VP
0,200000,0.358290,-1.149469,-0.707330,-1.256315,-1.386915,-0.491907,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,200001,1.217465,-0.173080,0.291241,-0.693143,0.941632,-0.659379,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,200002,-0.071297,-0.905372,0.291241,2.122715,-1.386915,-1.249315,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,200003,-0.500884,-0.783323,-0.707330,-0.693143,-0.222641,-1.090382,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,200004,-0.608281,-0.905372,-0.707330,-1.256315,-1.386915,-0.981903,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,204883,1.217465,-0.783323,1.289812,-0.693143,-0.222641,0.591518,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4875,204884,-1.037868,1.901748,1.289812,-0.129972,0.941632,-0.449408,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4876,204885,1.539655,0.193067,0.291241,2.122715,2.105906,1.609158,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4877,204886,-2.004440,0.071018,0.291241,-0.129972,0.941632,-0.628524,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4878,204887,-0.178694,-0.173080,0.291241,-0.129972,0.941632,0.099581,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [43]:
import os
os.makedirs('final csv')
data.to_csv('./final csv/num_cat_combined1.csv')